[submodule "Wukong/3rdparty/spdlog"]
	path = Wukong/3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wukong/3rdparty/glfw"]
	path = Wukong/3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "Wukong/3rdparty/imgui"]
	path = Wukong/3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Wukong/3rdparty/glm"]
	path = Wukong/3rdparty/glm
	url = https://github.com/g-truc/glm
